src/main/resources/exports/INT-02.json
{
    "name": "Generate job publication (INT-02)",
    "flow": [
        {
            "id": 7,
            "module": "gateway:CustomWebHook",
            "version": 1,
            "parameters": {
                "hook": 399752,
                "maxResults": 2
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 0
                },
                "restore": {
                    "hook": {
                        "label": "GenerateDocument"
                    }
                },
                "parameters": [
                    {
                        "name": "hook",
                        "type": "hook",
                        "label": "Webhook",
                        "required": true
                    },
                    {
                        "name": "maxResults",
                        "type": "number",
                        "label": "Maximum number of results"
                    }
                ],
                "interface": [],
                "advanced": true
            }
        },
        {
            "id": 4,
            "module": "eledo:Generate",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 1234875
            },
            "mapper": {
                "fields": {
                    "jobID": "{{7.caseReference}}",
                    "jobTitle": "{{7.jobTitle}}",
                    "location": "{{7.jobLocation}}",
                    "jobContractType": "{{7.jobContractType}}",
                    "jobRequirements": "{{7.jobRequirements}}",
                    "jobEmploymentType": "{{7.jobEmploymentType}}",
                    "jobExperienceLevel": "{{7.jobExperienceLevel}}",
                    "jobExperienceYears": "{{7.jobExperienceYears}}"
                },
                "templateId": "5ec98692bb82ab5d077467c1"
            },
            "metadata": {
                "designer": {
                    "x": 293,
                    "y": -143
                },
                "restore": {
                    "templateId": {
                        "label": "JobPublication"
                    },
                    "__IMTCONN__": {
                        "label": "My Eledo connection (team.gorgonzola@gmail.com)"
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "templateId",
                        "type": "select",
                        "label": "Template"
                    },
                    {
                        "name": "fields",
                        "spec": [
                            {
                                "name": "jobTitle",
                                "type": "text"
                            },
                            {
                                "name": "location",
                                "type": "text"
                            },
                            {
                                "name": "jobID",
                                "type": "text"
                            },
                            {
                                "name": "jobRequirements",
                                "type": "text"
                            },
                            {
                                "name": "jobExperienceLevel",
                                "type": "text"
                            },
                            {
                                "name": "jobExperienceYears",
                                "type": "text"
                            },
                            {
                                "name": "jobContractType",
                                "type": "text"
                            },
                            {
                                "name": "jobEmploymentType",
                                "type": "text"
                            }
                        ],
                        "type": "collection",
                        "label": "Custom Fields"
                    }
                ]
            }
        },
        {
            "id": 5,
            "module": "google-drive:ActionUploadFile",
            "version": 3,
            "parameters": {
                "account": 1234970
            },
            "mapper": {
                "data": "{{4.data}}",
                "title": "{{7.caseReference}}",
                "convert": false,
                "fileName": "{{4.fileName}}",
                "folderId": "/1saA6IjvKYZKIdGFD4GvCY_3d2fllGHtW",
                "destination": "personal"
            },
            "metadata": {
                "designer": {
                    "x": 520,
                    "y": 147
                },
                "restore": {
                    "account": {
                        "label": "My Google connection (team.gorgonzola@gmail.com)"
                    },
                    "convert": {
                        "mode": "chose"
                    },
                    "folderId": {
                        "mode": "chose",
                        "path": [
                            "jobPostings"
                        ]
                    },
                    "destination": {
                        "label": "My Drive"
                    }
                },
                "parameters": [
                    {
                        "name": "account",
                        "type": "account",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "mean": "name",
                        "name": "fileName",
                        "type": "filename",
                        "label": "File name",
                        "required": true
                    },
                    {
                        "mean": "data",
                        "name": "data",
                        "type": "buffer",
                        "label": "Data",
                        "required": true
                    },
                    {
                        "name": "title",
                        "type": "text",
                        "label": "Title"
                    },
                    {
                        "name": "convert",
                        "type": "boolean",
                        "label": "Convert a file",
                        "required": true
                    },
                    {
                        "name": "destination",
                        "type": "select",
                        "label": "Destination",
                        "required": true,
                        "validate": {
                            "enum": [
                                "personal",
                                "shared"
                            ]
                        }
                    },
                    {
                        "name": "folderId",
                        "type": "folder",
                        "label": "Target folder",
                        "required": true
                    }
                ],
                "advanced": true
            }
        },
        {
            "id": 6,
            "module": "gateway:WebhookRespond",
            "version": 1,
            "parameters": {},
            "mapper": {
                "body": "{\n\"link\":\"{{5.alternateLink}}\"\n}\n",
                "status": "200",
                "headers": []
            },
            "metadata": {
                "designer": {
                    "x": 695,
                    "y": -94
                },
                "restore": {
                    "headers": {
                        "items": []
                    }
                },
                "expect": [
                    {
                        "name": "status",
                        "type": "uinteger",
                        "label": "Status",
                        "required": true,
                        "validate": {
                            "min": 100
                        }
                    },
                    {
                        "name": "body",
                        "type": "any",
                        "label": "Body"
                    },
                    {
                        "name": "headers",
                        "spec": [
                            {
                                "name": "key",
                                "type": "text",
                                "label": "Key",
                                "required": true,
                                "validate": {
                                    "max": 256
                                }
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value",
                                "required": true,
                                "validate": {
                                    "max": 4096
                                }
                            }
                        ],
                        "type": "array",
                        "label": "Custom headers",
                        "validate": {
                            "maxItems": 16
                        }
                    }
                ],
                "advanced": true
            }
        }
    ],
    "metadata": {
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": false,
            "sequential": false,
            "confidential": false,
            "dataloss": false,
            "dlq": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu1.integromat.com"
    }
}